/* Definizione variabili */
:root{
    /* Colori utilizzati nel mockup, rilevati con Color Picker */
    /***********************************************************/
    --discord_dark_color : #23272A;
    --discord_button_color : #8EA1E1;
    --discord_footer_title_color : #7289DA;
    /***********************************************************/
    /* Variabili dimensionali */
    /**************************/
    /* Ampiezza dei blocchi centrati */
    --block_width : 80%;
    /* Altezza di riferimento (o altezza minima di riferimento) dei blocchi header, section, footer */
    --h_s_f_height : 600px;
    /**************************/
}

/* Reset box & font*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

/* Formattazione testi */
/***********************/
h1, h2{
    font-size: 3em;
}

h3{
    font-size: 2.5em;
}

h4{
    font-size: 2em;
}

h5{
    font-size: 1.2em;
}

p{
    font-size: 1.2em;
}
/***********************/

/* Utilities */
/*************/

.flexbox{
    display: flex;
}

.reset_decor{
    text-decoration: none;
}

/* Reset dei marcatori di lista */
.reset_list_style{
    list-style: none;
}

/* Larghezza ridotta e centratura */
.center_width{
    width: var(--block_width);
    margin: auto;
}
/*************/

/* Assegnazione colore di default */
body{
    color: var(--discord_dark_color);
}

.color_w{
    color: white;
}

/* Immagine di sfondo del header */
header{
    height: var(--h_s_f_height);
    background-image: url(../img/jumbo.png);
    background-size : cover;
    background-position: top center;
    padding: 30px 0;
}

/* Barra superiore contenente tutti gli elementi cliccabili: logo, menu, login */
#menu_bar{
    justify-content: space-between;
    align-items: center;
}

/* Menu superiore centrale */
#menu{
    flex-basis: 50%;
    justify-content: space-around;
}

/* Voci del menu */
.menu_item{
    display: inline-block;
}

.pulsante{
    color: var(--discord_dark_color);
    background-color: white;
    border-radius: 1.5em;
    padding: 8px 15px;
}

/* Blocco centrato internamente ad header, includente titolo, paragrafo sottotitolo e coppia di pulsanti */
#head_section{
    width: 55%;
    margin: auto;
    text-align: center;
}

#head_section > h1{
    margin: 40px;
}

p{
    line-height: 1.5em;
    margin-top: 30px;
}

/* Blocco pulsanti */
#head_btn{
    margin-top: 60px;
    justify-content: space-evenly;
}

#head_btn .pulsante:last-child{
    color: white;
    background-color: var(--discord_dark_color);
}

.debug{
    border: 5px solid yellow;
}

section{
    min-height: var(--h_s_f_height);  
}

/* Blocco "onda" esterno alle sezioni */
.wave{
    width: 100%;
    height: 100px;
    background-image: url(../img/wave.svg);
    /* Filtro di conversione del colore dell'onda */
    filter: invert(100%) sepia(17%) saturate(4%) hue-rotate(293deg) brightness(91%) contrast(80%);
}

/* Onda riflessa */
.riflessa{
    transform: scale(-1);
}

/* Selettore delle sezioni con sfondo grigio in cui la formula "4n+3" tiene conto della presenza dei blocchi onda */
section:nth-child(4n+3){
    background-color: lightgray;
}

.image{
    flex-basis: 65%;
}

.text{
    flex-basis: 35%;
    padding: 30px;
}

/* Selettore della sezione con immagine e testo invertiti in cui la formula "4n+3" tiene conto della presenza dei blocchi onda */
section:nth-child(4n+3) .text{
    order: -1;
}

/* Ultima sezione, con immagine grande al centro */
#last_section_box{
    height: 100%;
    padding: 30px 0 100px 0;
    text-align: center;
}

#last_section_box > p{
    padding: 0 100px;
}

#stars{
    width: 55%;
    height: 80px;
    padding-top: 40px;
    margin: 0 auto 40px auto;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

/* Colori relativi ai pulsanti extra header */
.white_blue{
    color: white;
    background-color: var(--discord_button_color);
}

footer{
    min-height: var(--h_s_f_height);
    padding: 50px 0;
    background-color: var(--discord_dark_color);
}

#footer_box{
    height: 100%;
    flex-direction: column;
}

#footer_box > div{
    justify-content: space-between;
}

/* Parte alta del footer */
#upper{
    padding-bottom: 30px;
    border-bottom: 1px solid var(--discord_button_color);
    color: var(--discord_button_color);
}

/* 4 menu verticali del footer */
#upper > .footer_menu{
    flex-basis: calc(70% / 4);
    line-height: 2em;
}

/* sezione di sinistra del footer */
#left_col{
    flex-basis: 30%;
    padding-right: 50px;
}

#left_col > img{
    margin: 30px 0;
    vertical-align: middle;
}

#left_col > span{
    font-size: small;
    color: white;
}

#social i{
    margin-right: 10px;
}

/* Parte bassa del footer */
#lower{
    padding-top: 30px;
}