/* Reset box */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: var(--discord_dark_color);
}

/* Definizione variabili */
:root{
    --discord_dark_color : #23272A;
    --discord_bkgr_color : #F6F6F6;
    --discord_button_color : #8EA1E1;
    --discord_footer_title_color : #7289DA;
    /* Altezza dei blocchi (header, section, blocco intra_footer) */
    --block_height : 800px;
    /* Larghezza dei blocchi centrati (barra superiore, blocchi intra-section, blocco intra-footer */
    --block_width : 80%;
    /* Larghezza blocchi con logo e login (header) e con logo e subscribe (footer)*/
    --logo_box_width : 25%;
    /* Altezza della barra superiore contenente logo, menu e login */
    --top_bar_height : 100px;
    /* Larghezza del blocco del titolo, interno allo header */
    --title_block_width : 60%;
    /* Altezza del blocco del titolo, interno allo header */
    --title_block_height : 70%;
    /* Fattore di incremento altezza dell'ultima sezione */
    --last_section_factor : 1.5;
    /* Margine verticale dei blocchi intra-setion */
    --section_box_margin : 10%; /* Valore percentuale */
    --section_box_margin_val : 0.1; /* Valore numerico */
    /* Larghezza della colonna sinistra del footer */
    --left_col_width : 30%;
}

header{
    min-height: 600px;
    max-height: var(--block_height);
    background-image: url(../img/jumbo.png);
    background-size : cover;
    background-position: center center;
    color: white;
}

.flexbox{
    display: flex;
}

/* Barra superiore centrata, contenente logo, menu e login */
.top_bar{
    width: var(--block_width);
    height: var(--top_bar_height);
    margin: auto;
}

/* Contenitore del logo/login (header) e del logo/subscribe (footer)*/
.top-bottom_side_box{
    order: 0;
    flex-basis: var(--logo_box_width);
    align-items: center;
    padding: 0 10px;
}

/* Contenitore logo (header e footer)*/
.top-bottom_side_box:first-child{
    justify-content: flex-start;
}

/* Contenitore login (header) e subscribe (footer)*/
.top-bottom_side_box:last-child{
    justify-content: flex-end;
    order: 2;
}

.button_b-w{
    color: var(--discord_dark_color);
    background-color: white;
    padding: 7px 15px;
    border-radius: 1em;
}

.button_w-b{
    color: white;
    background-color: var(--discord_dark_color);
    padding: 7px 15px;
    border-radius: 1em;
}

/* Contenitore del menu (unordered list) */
nav{
    order: 1;
    flex-basis: calc(100% - (2 * var(--logo_box_width))); 
}

.menu{
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.menu_item{
    color: white;
}

/* Blocco contenitore di titolo, paragrafo e pulsanti, centrato nello header */
#title_block{
    width: var(--title_block_width);
    margin: 1em auto;
    text-align: center;
}

#title_block > h1{
    font-size: 3.5em;
}

#title_block > h2{
    font-size: 1.5em;
    padding: 2em 1em;
}

.header_buttons{
    justify-content: center;
    font-size: 1.5em;
}

.header_buttons > a{
    margin: 0 15px;
}

.header_buttons > a.button_b-w::before, .last_section_item a.button_w-b::before{
    padding: 0 5px;
    content: "\21E9";
}

section{
    height: var(--block_height);
    justify-content: center;
    align-items: center;
}

section h2{
    font-size: 3em;
}

section p{
    margin-top: 20px;
    font-size: 1.5em;
}

/* Alternanza dei colori di sfondo delle sezioni */
section:nth-child(even){
    background-color: var(--discord_bkgr_color);
}

/* Blocchi intra-section */
.section_box{
    flex-basis: var(--block_width);
    /* height: calc(100% - 2 * var(--section_box_margin)); */
}

.text_box{
    flex-basis: 40%;
    padding: 40px 20px;
}

.img_box{
    flex-basis: 60%;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
}

.img_box.item1{
    background-image: url(../img/item1.svg);
}

.img_box.item2{
    background-image: url(../img/item2.svg);
}

.img_box.item3{
    background-image: url(../img/item3.svg);
}

/* Alternanza dei sottoblocchi colorati dentro i blocchi intra-section */
/***********************************************************************/
section:nth-child(odd) .section_box .img_box{
    order: -1;
}

section:nth-child(even) .section_box .img_box{
}
/***********************************************************************/

/* Ultima sezione (prima del footer) */
.last_section{
    height: calc(var(--last_section_factor) * var(--block_height));
    text-align: center;
}

/* Blocco contenuto nell'ultima sezione */
.last_section_item{
    /* background-color: green; */
    flex-basis: var(--block_width);
    /* La seguente formula consente di mantenere il margine verticale uguale a quello delle precedenti sezioni */
    /* height: calc(100% - 2 * var(--section_box_margin_val) * var(--block_height)); */
}

.last_section_item > #big_img{
    width: 90%;
}

.last_section_item > p{
    padding: 10px 80px;
}

#stars{
    width: 70%;
    height: 80px;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    margin-bottom: 30px;
}

.last_section_item a.button_w-b{
    font-size: 1.5em;
    background-color: var(--discord_button_color);
}

footer{
    background-color: var(--discord_dark_color);
    flex-wrap: wrap;
}

/* Blocco interno al footer contenente lingua e link ai social a sinistra e menu a destra*/
.intra_footer{
    flex-basis: var(--block_width);
    /* height: var(--block_height); */
    margin: 10px auto;
    padding: 30px;
    border-bottom: 1px solid var(--discord_footer_title_color);
}

/* Blocco contenente lingua e link ai social */
.left_col{
    flex-basis: var(--left_col_width);
    height: 100%;
    padding: 0 40px;
}

.left_col h2{
    font-size: 2.5em;
    color: var(--discord_footer_title_color);
    margin-bottom: 30px;
}

.left_col .flag{
    width: 27px;
    vertical-align: middle;
}

.left_col span{
    color: white;
    padding: 0 5px;
}

.left_col span::after{
    content: "\25BE";
    vertical-align: text-top;
}

#social_icon{
    margin: 30px 0;
}

#social_icon a{
    color: white;
}

/* Blocchi (4) contenenti i menu del footer */
.footer_menu{
    flex-basis: calc((100% - var(--left_col_width)) / 4);
    height: 100%;
    line-height: 1.5em;
    padding: 10px 30px;
}

.footer_menu > span{
    color: var(--discord_footer_title_color);
}

.footer_menu > ul{
    color: white;
}

/* Blocco inferiore, centrato, contenente logo e subscribe */
.footer_bottom{
    flex-direction: row;
    flex-basis: var(--block_width);
    height: 100px;
    margin: 20px auto;
    justify-content: space-between;
    font-size: 1.3em;
}

.last_button_color{
    background-color: var(--discord_button_color);
}
